<div class="container boat-image-div">
  <div class="home-hdr-blk row">
  	<div class="col-md-4"></div>
  	<div class="col-md-4">
			<h2> Shipping world wide </h2>
		</div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
		<div class="col-md-6 boat-image">
		</div>	
	</div>
</div>