<h2><%= current_user.username %>'s Profile</h2>

<a href="/users/edit"><button>EDIT ACCOUNT</button></a>

<h3>My Boats</h3>
<%= render '/boats/show_all_boats' %>

<a href="/boats/new"><button>ADD BOAT</button></a>
<br>
<h3>My Jobs</h3>
<%= render '/jobs/show_all_jobs' %>

<a href="/jobs/new"><button>ADD JOB</button></a>
