<div class="boat-container">
	<% @boats.each do |boat| %>
		<div class="boat-card">
			<h4 class="boat-name"><a href="/boats/<%= boat.id %>">Boat Name: <%= boat.name %></a></h4>
			<h4 class="boat-capacity">Container Capacity: <%= boat.capacity %></h4>
			<h4 class="boat-location">Location: <%= boat.location %></h4>
		</div>
	<% end %>
</div>